<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="css/styles.css">
  <title>Weather App!</title>
</head>

<style>
  body {
    background-color: cornflowerblue;
  }
</style>

<body>

  <!-- Navbar Starts  -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">WeatherApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"><i class="bi bi-house-door-fill"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#"><i class="bi bi-file-person"></i> About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#"><i class="bi bi-telephone-fill"></i> Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- NavBar ends -->
  <hr>
  <section class="input-part">
    <div class="container">
      <div class="card userCard mx-auto">
        <div class="card-body">
          <h5 class="card-title">Enter a location</h5>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-geo-alt-fill"></i></span>
            <input type="text" class="form-control" placeholder="Enter a Location" aria-describedby="basic-addon1">
          </div>
          <h6 style="text-align: center;">OR</h6>
          <p class="card-text">Use Your Current Location</p>
          <button id="locationBtn" class="btn btn-outline-danger"><i class="bi bi-geo-fill"></i> Use Your
            Location</button>
        </div>
      </div>
    </div>
  </section>

  <script>

    // Add event listener on get location button
    const button = document.getElementById('locationBtn');
    button.addEventListener('click', () => {
      if ('geolocation' in navigator) {
        navigator.geolocation.getCurrentPosition(position => {
          const { latitude, longitude } = position.coords;
          const data = { latitude, longitude };

          //Make a GET Request at '/result'
          window.location.href = `/result?lat=${latitude}&lon=${longitude}`;
        });
      }
      else {
           alert('Your Browser does not supports geolocation api');
      }
    });
  </script>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</html>